:root {
  --theme-color: hsl(228, 45%, 26%);
  --base-color: #A6D044;
  --accent-color-1: #761435;
  --accent-color-2: #F7E1AE;
  --highlight-color: #FE7120;
  --light-color: #FEF2E6;
  --dark-color: #040100;
  --trans-color: transparent;
  --trans-25-color: rgba(0, 0, 0, 0.25);
  --ff-t: var(--ff-ml);
  --ff-d: var(--ff-cg);
  --ff-pb: var(--ff-p);
  --ff-sb: var(--ff-p);
  --ff-lt: var(--ff-p);
  --ff-pbh: var(--ff-p);
  --ff-sbh: var(--ff-p);
  --ff-lth: var(--ff-p);
  --b-fs-pb: var(--b-fs-lg);
  --b-fs-sb: var(--b-fs-lg);
  --b-fs-lt: var(--b-fs-md);
  --b-fs-pbh: var(--b-fs-lg);
  --b-fs-sbh: var(--b-fs-lg);
  --b-fs-lth: var(--b-fst-md);
  --fw-pb: var(--fw-nrm);
  --fw-sb: var(--fw-nrm);
  --fw-lt: var(--fw-nrm);
  --fw-pbh: var(--fw-nrm);
  --fw-sbh: var(--fw-nrm);
  --fw-lth: var(--fw-nrm);
  --fc-pb: var(--dark-color);
  --fc-sb: var(--dark-color);
  --fc-lt: var(--dark-color);
  --fc-pbh: var(--accent-color-2);
  --fc-sbh: var(--base-color);
  --fc-lth: var(--base-color);
  --bgc-pb: var(--base-color);
  --bgc-sb: rgba(248, 246, 238, 0);
  --bgc-lt: var(--trans-color);
  --bgc-pbh: var(--base-color);
  --bgc-sbh: rgba(248, 246, 238, 0);
  --bgc-lth: var(
    --trans-color
  );
  --b-bw-pb: var(--b-bw-n);
  --b-bw-sb: var(--b-bw-t);
  --b-bw-lt: var(--b-bw-n);
  --b-bw-pbh: var(--b-bw-t);
  --b-bw-sbh: var(--b-bw-t);
  --b-bw-lth: var(
    --b-bw-n
  );
  --b-br-pb: var(--b-br-shp);
  --b-br-sb: var(--b-br-arc);
  --b-br-pbh: var(--b-br-shp);
  --b-br-sbh: var(--b-br-arc);
  --b-bc-pb: var(--accent-color-2);
  --b-bc-sb: var(--dark-color);
  --b-bc-pbh: rgba(51, 128, 69, 0);
  --b-bc-sbh: var(--dark-color);
  --ff-p: Poppins;
  --ff-am: Arima Madurai;
  --ff-m: Mulish;
  --ff-ssp: Source Serif Pro;
  --ff-zs: Zilla Slab;
  --ff-i: Inter;
  --ff-ebg: EB Garamond;
  --ff-ss: Spline Sans;
  --ff-n: Nunito;
  --ff-ns: Nunito Sans;
  --ff-fo: Fugaz One;
  --ff-ws: Work Sans;
  --ff-af: Abril Fatface;
  --ff-sm: Space Mono;
  --ff-b: Bitter;
  --ff-gh: Grand Hotel;
  --ff-l: Lato;
  --ff-ro: Roboto;
  --ff-os: Open Sans;
  --ff-osw: Oswald;
  --ff-mo: Montserrat;
  --ff-ra: Raleway;
  --ff-me: Merriweather;
  --ff-nos: Noto Sans;
  --ff-ssap: Source Sans Pro;
  --ff-ub: Ubuntu;
  --ff-pd: Playfair Display;
  --ff-qui: Quicksand;
  --ff-ben: Bebas Neue;
  --ff-pts: PT Sans;
  --ff-ps: PT Serif;
  --ff-lo: Lobster;
  --ff-in: Inconsolata;
  --ff-ds: Dancing Script;
  --ff-pa: Pacifico;
  --ff-fs: Fira Sans;
  --ff-an: Anton;
  --ff-js: Josefin Sans;
  --ff-ru: Rubik;
  --ff-co: Comfortaa;
  --ff-ar: Arimo;
  --ff-cb: Cabin;
  --ff-yk: Yanone Kaffeesatz;
  --ff-lb: Libre Baskerville;
  --ff-mk: Mukta;
  --ff-cg: Cormorant Garamond;
  --ff-vr: Varela Round;
  --ff-hi: Hind;
  --ff-ma: Manrope;
  --ff-tw: Titillium Web;
  --ff-te: Teko;
  --ff-si: Signika;
  --ff-ct: Crimson Text;
  --ff-as: Asap;
  --ff-ba: Barlow;
  --ff-ibm: IBM Plex Sans;
  --ff-ale: Alegreya;
  --ff-ri: Righteous;
  --ff-he: Heebo;
  --ff-bc: Barlow Condensed;
  --ff-nse: Noto Serif;
  --ff-ov: Overpass;
  --ff-ka: Karla;
  --ff-ml: Muli;
  --ff-ca: Cardo;
  --ff-ch: Chivo;
  --ff-ac: Acme;
  --ff-cat: Catamaran;
  --ff-ams: Amatic SC;
  --ff-fro: Fredoka One;
  --ff-arc: Archivo;
  --ff-pgo: Pathway Gothic One;
  --ff-ci: Cinzel;
  --ff-if: Indie Flower;
  --ff-ass: Assistant;
  --ff-jo: Jost;
  --ff-va: Varela;
  --ff-do: Domine;
  --ff-mp: Maven Pro;
  --ff-qu: Questrial;
  --ff-ld: Lexend Deca;
  --ff-le: Lexend Exa;
  --ff-em: El Messiri;
  --ff-taj: Tajawal;
  --ff-ti: Tinos;
  --ff-fm: Fira Mono;
  --ff-ph: Philosopher;
  --ff-s: Sacramento;
  --ff-sil: Shadows Into Light;
  --ff-kt: Kanit;
  --ff-pr: Prata;
  --ff-a: Alata;
  --ff-bn: BenchNine;
  --ff-it: Italiana;
  --ff-glh: Gloria Hallelujah;
  --ff-ng: Nanum Gothic;
  --ff-gv: Great Vibes;
  --ff-al: Alice;
  --ff-cn: Courier New;
  --ff-ve: Verdana;
  --ff-ge: Georgia;
  --ff-ga: Garamond;
  --ff-arl: Arial;
  --ff-tnr: Times New Roman;
  --ff-ta: Tahoma;
  --b-fs-lg: 1.125rem;
  --b-fs-md: 1rem;
  --b-fs-sm: 0.875rem;
  --b-fst-lg: 1.075;
  --b-fst-md: 1;
  --b-fst-sm: 0.925;
  --t-fs-lg: 1.5rem;
  --t-fs-md: 1.25rem;
  --t-fs-sm: 1rem;
  --t-fs-xs: 0.875rem;
  --t-fs-xl: 2rem;
  --s-v-lg: 5rem;
  --s-v-md: 3.125rem;
  --s-v-sm: 1.563rem;
  --s-v-n: 0rem;
  --s-h-lg: 3.75rem;
  --s-h-md: 3.125rem;
  --s-h-sm: 2.5rem;
  --s-h-n: 0rem;
  --hs-v-lg: 1rem;
  --hs-v-md: 0.75rem;
  --hs-v-sm: 0.5rem;
  --sp-lg: 12.5rem;
  --sp-md: 9.375rem;
  --sp-sm: 6.25rem;
  --sp-xs: 5rem;
  --s-sub-content: 2.5rem;
  --s-content: 4rem;
  --bw-th: 0.5rem;
  --bw-m: 0.25rem;
  --bw-t: 0.125rem;
  --bw-n: 0rem;
  --li-sm: 2rem;
  --li-md: 2.5rem;
  --li-lg: 3rem;
  --b-bw-th: 0.25rem;
  --b-bw-m: 0.125rem;
  --b-bw-t: 0.063rem;
  --b-bw-n: 0rem;
  --i-br-shp: 0%;
  --i-br-arc: 6%;
  --i-br-mdrnd: 18%;
  --i-br-rnd: 50%;
  --bgi-br-shp: 0%;
  --bgi-br-arc: 6%;
  --bgi-br-mdrnd: 18%;
  --bgi-br-rnd: 50%;
  --b-br-shp: 0rem;
  --b-br-arc: 0.375rem;
  --b-br-mdrnd: 0.75rem;
  --b-br-rnd: 3.25rem;
  --border-width-t: 0.0625rem;
  --border-width-m: 0.125rem;
  --border-width-th: 0.25rem;
  --fw-nrm: normal;
  --fw-b: bold;
}

@media screen and (max-width: 1024px) {
  :root {
    --s-v-lg: 3.75rem;
    --s-v-md: 2.5rem;
    --s-v-sm: 1.25rem;
    --s-v-n: 0rem;
    --s-h-lg: 2.5rem;
    --s-h-md: 2.5rem;
    --s-h-sm: 1.25rem;
    --s-h-n: 0rem;
    --hs-v-lg: 0.75rem;
    --hs-v-md: 0.5rem;
    --hs-v-sm: 0.5rem;
    --s-sub-content: 2.5rem;
    --s-content: 3rem;
    --li-sm: 1.5rem;
    --li-md: 1.5rem;
    --li-lg: 2rem;
    --sp-lg: 7.5rem;
    --sp-md: 5.625rem;
    --sp-sm: 3.75rem;
    --sp-xs: 3.125rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --s-h-lg: 1.25rem;
    --s-h-md: 1.25rem;
    --s-h-sm: 0.625rem;
    --s-h-n: 0rem;
    --s-sub-content: 2.5rem;
    --s-content: 3rem;
    --sp-lg: 5rem;
    --sp-md: 3.75rem;
    --sp-sm: 2.5rem;
    --sp-xs: 2rem;
  }
}